<leansoft-translate-toolbar></leansoft-translate-toolbar>
<div class="translations-management">
  <input type="text" [(ngModel)]="english" name="english" placeholder="English.."/>
  <input [(ngModel)]="german" name="german" placeholder="German.."/>
  <input type="text" [(ngModel)]="polish" name="polish" placeholder="Polish.."/>
  <input type="submit" value="Add a Post" (click)="addPost()">
  <ul *ngFor="let post of posts | async">
    <li>
      English: {{ post.en}}
      <br>
      German: {{post.de}}
      <br>
      Polish: {{post.pl}}
    </li>
  </ul>
</div>


