<h1>Der bestimmte Artikel</h1>
<div class="der">
  <h2>der</h2>
  <ul>
    <li>
      <b>biologishe Geschlecht</b>: der Mann, der Student, der Professor, der König, der Bruder, der Tiger, der Hahn, der Hengst,
      der Soldat, der Löwe, der Stier
    </li>
    <li>
      <b>-er</b>: der Fehler, der Lehrer, der Bruder, der Fahrer, der Schlosser, der Mechaniker, der Kiefer
    </li>
    <li>
      <b>-en</b>: der Garten, der Boden, der Norden, der Rahmen
    </li>
    <li>
      <b>-el</b>: der Schlüssel, der Löffel, der Mantel, der Titel
    </li>
    <li>
      <b>-ing</b>: der Schmetterling, der Hering, der Fasching(karnawal)
    </li>
    <li>
      <b>-or</b>: der Humor, der Motor, der Lektor
    </li>
    <li>
      <b>-ismus</b>: der Kapitalismus, der Imperialismus, der Mechanismus
    </li>
    <li>
      <b>Zeitperiode</b>: der Sommer, der Mai, der Montag, der Abend, der Morgen, der Frühling (Tageszeiten, Wochentage, Monate, Jahreszeiten)
    </li>
    <li><b>Himmelsrichtungen</b>: der Norden, der Süden, der Osten</li>
    <li><b>Wetter:</b> der Wind, der Regen</li>
    <li><b>alkoholishe Getränke:</b> der Wein, der Schnaps</li>
    <li><b>Automarken</b>: der BMW, der Mercedes, der VW</li>
    <li><b>Berggipfel und See</b>: der</li>
    <li><b>Niederschläge</b>: der Regen, der Schnee, der Hagel</li>
    <li><b>Kasusnamen(przypadki), stopni i trybow</b>: der Nominativ, der Komparativ, der Indikativ</li>
    <li><b>von Verben abgeleitete Substantive ohne Endung</b>: der Gang, der Sprung, der Lauf, der Schlaf (rzeczowniki odczysownikowe bez koncowek)</li>
  </ul>
</div>
<div class="die">
  <h2>die</h2>
  <ul>
    <li><b>biologishe Geschlecht</b>: die Frau, die Studentin, die Profesorin, die Kuh, die Ziege, die Henne</li>
    <li><b>-e</b>: die Frage, die Schule, die Rose, die Blume, die Strasse, die Lampe</li>
    <li><b>-heit</b>: die Freiheit, die Schönheit, die Kindheit</li>
    <li><b>-keit</b>: die Möglichkeit, die Schwierigkeit, Fähigkeit</li>
    <li><b>-schaft</b>: die Freundscheit, die Gesellschaft</li>
    <li><b>-t</b>: die Fahrt, die Tat</li>
    <li><b>-ung</b>: die Übung, die Vorbereitung, die Lösung</li>
    <li><b>-in</b>: die Schülerin, die Studentin, die Patientin</li>
    <li><b>-ie</b>: die Energie, die Psychologie, die Philologie, die Philosophie, die Chemie, die Diplomatie</li>
    <li><b>-ik</b>: die Physik, die Mathematik, die Grafik, die Kritik, die Musik</li>
    <li><b>-ion</b>: die Nation, die Tradition, die Portion, die Diskusion, die Koalition</li>
    <li><b>-tät</b>: die Universität, die Qualität, die Nationalität, die Indentität</li>
    <li><b>-ur</b>: die Natur, die Reperatur, die Apparetur, die Agentur</li>
    <li><b>-ei</b>: die Bücherei, die Abtei, die Metzgerei</li>
    <li><b>-ade</b>: die Parade, die Marmelade</li>
    <li><b>-age</b>: die Garage, die Passage</li>
    <li><b>-anz</b>: die Eleganz, die Dominanz</li>
    <li><b>-enz -anz</b>: die Intelligenz, die Existenz, die Tendenz</li>
    <li><b>Motorradmarken</b>: die Yamaha, die Harley-Davidson</li>
    <li><b>die Flüssenamen</b>: die Weichsel(wisla), die Oder, die Elbe, die Donau, die Wolga</li>
    <li><b>Pflanzen und Bäumen</b>: die Birke, die Eiche, die Buche, die Fichte, die Pflaume, die Erdbere</li>
    <li><b>Flugyeugen und Schiffen</b>: die Boeing, die Titanic</li>
    <li><b>liczebniki uzyte rzeczownikowo</b>: die Eins, die Fünf</li>
  </ul>
</div>
<div class="das">
  <h2>das</h2>
  <ul>
    <li><b>-chen</b>: das Häuschchen, das Märchen</li>
    <li><b>-lein</b>: das Büchlein, das Fräulein</li>
    <li><b>-lein</b>: das Büchlein, das Fräulein</li>
    <li><b>substantivierte Infinitive</b>: das Essen, das Schreiben, das Kommen, das Treffen</li>
    <li><b>substantivierte Adjective</b>: das Gute, das Böse</li>
    <li><b>Farbnamen</b>: das Blau, das Weiss</li>
    <li><b>mlode osoby lub zwierzeta</b>: das Kind, das Kalb, das Lamm, das Fohlen</li>
    <li><b>zwierzeta</b>: das Pferd, das Schwein, das Kamel, das Huhn, das Schaf</li>
    <li><b>chemische Elemente (Metalle)</b>: das Gold, das Eisen, das Messig, das Silber, das Aluminum, das Kupfer, das Uran</li>
    <li><b>Namen von Metallen</b>: das Blei, das Messig, das Zinn</li>
    <li><b>-tel</b>: das Zetel, das Viertel</li>
    <li><b>ge....e</b>das Gebirge, das Gebäude</li>
    <li><b>-ment</b>: das Fragment, das Medikament, das Instrument, das Parlament</li>
    <li><b>-um</b>: das Praktikum, das Museum, das Publikum, das Stadium, das Ultimatum</li>
    <li><b>-in</b>: das Benzin, das Penizilin</li>
    <li><b>-nis</b>: das Ergebnis, das das Tennis</li>
    <li><b>-o</b>: das Auto, das Konto</li>
  </ul>
</div>
<h2>Ausnamhen</h2>
<ul>
  <li><b>biologishe Geschlecht</b>: das Mädchen, das Fräuelin, das Kind, die Person</li>
  <li><b>-er</b>: das Fenster, die Leiter</li>
  <li><b>-or</b>: das Labor</li>
  <li><b>Zeitperiode</b>: die Nacht</li>
  <li>Wetter: die Wolke</li>
  <li><b>alkoholishe Getränke</b>: das Bier</li>
  <li><b>die Flüssenamen</b>: der Rein, der Mann, der Nil</li>
  <li><b>-ei</b>: der Papagei, das Allerei, das Geschrei</li>
  <li><b>metale</b>: der Stahl, die Bronze</li>
</ul>
