<h1>Der bestimmte Artikel</h1>
<h4>der</h4>
<ul>
  <li>
    <b>biologishe Geschlecht</b>: der Mann, der Student, der Professor, der König, der Bruder, der Tiger, der Hahn, der Hengst,
    der Soldat, der Löwe, der Stier
  </li>
  <li>
    <b>-er</b>: der Fehler, der Lehrer, der Bruder, der Fahrer, der Schlosser, der Mechaniker, der Kiefer
  </li>
  <li>
    <b>-ling</b>: der Schmetterling, der Hering, der Fasching
  </li>
  <li>
    <b>Zeitperiode</b>: der Sommer, der Mai, der Montag, der Abend, der Morgen, der Frühling (Tageszeiten, Wochentage, Monate, Jahreszeiten)
  </li>
  <li><b>Himmelsrichtungen</b>: der Norden, der Süden, der Osten</li>
</ul>
<h4>
  die
</h4>
<ul>
  <li><b>biologishe Geschlecht</b>: die Frau, die Studentin, die Profesorin, die Kuh, die Ziege, die Henne</li>
  <li>sas</li>
</ul>
<h4>
  das
</h4>
<p>aasd</p>
<h4>
  Ausnamhen
</h4>
<ul>
  <li><b>biologishe Geschlecht</b>: das Mädchen, das Fräuelin, das Kind, die Person</li>
  <li><b>-er</b>: das Fenster, die Leiter</li>
  <li><b>Zeitperiode</b>: die Nacht</li>
</ul>
