<learngerman-translate-toolbar></learngerman-translate-toolbar>
<div fxLayout="column">
  <div><button mat-raised-button>German</button></div>
  <div fxFlexOffset="5px"></div>
  <div fxLayout="row">
      <textarea rows="8" cols="40" class="input" [(ngModel)]="userText" (keyup)="translate($event)"></textarea>
    <div fxFlexOffset="20px"></div>
    <div>
      <span *ngFor="let translation of translationArray">
        <h3>{{translation.translatedText}}</h3>
      </span>
    </div>
  </div>
</div>

