<mat-toolbar>
  <span>Translate</span>
  <span class="fill-remaining-space"></span>
  <span><a mat-list-item routerLink="translations-management"><mat-icon>settings</mat-icon></a></span>
</mat-toolbar>
<textarea  rows="8" cols="40" class="input" [(ngModel)]="userText">
</textarea>
<button (click)="handleTranslation()" class="button is-primary">Run Translation</button>

<h3>English</h3>

{{ (currentTranslation | async)?.fr || defaultMessage() }}

<h3>Polish</h3>

{{ (currentTranslation | async)?.es || defaultMessage() }}

